form {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: 5rem auto;
    padding: 5rem;
    box-sizing: border-box;
    border-radius: 0.6rem;
    background-color: var(--dark);
    color: var(--bright);
    align-items: center;
}

label {
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 0;
    text-align: start;
    font-size: 1.5rem;
    width: 100%;
}

input {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    margin: 0.5rem 0;
    border: none;
}

input:focus-visible {
    border: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn {
    margin: 2rem 0 0 0;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    width: fit-content;
}

.error {
    text-align: center;
    font-size: 20px;
    margin: 30px;
    font-weight: bold;
    color: #d9534f;
}

/* button {
    margin: 2rem auto;
    font-size: 1.5rem;
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
}

button:hover {

} */